body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    display: flex;
    gap: 40px;
}

.container div {
    text-align: center;
}

.container img {
    width: 400px;
    border-radius: 10px;
}

.gameName {
    margin-top: 8px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.title {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    color: white;
}