/* text */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* horizontal line */
hr{
    width: 500px;
}

/* create board */
#board{
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    /* center board */
    margin: 0 auto;
    
    /* make tiles in board div be inline ie 4 in each row */
    display: flex;
    flex-wrap: wrap;
}

.tile{
    /* the border adds 10px, 5 up down & 5 left right */
    width: 90px;
    height: 90px;
    
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* following are customization of each NUMBER tile */
/* cannot have a class name of number so adding x in front */
.x2{
    background-color: #eee4da;
    color: #727371;
}

.x4{
    background-color: #ece0ca;
    color: #727371;
}

.x8{
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096{
    background-color: #fe3d3d;
    color: white;
}

.x8192{
    background-color: #ff2020;
    color: white;
}